header{

    background-color: #A7E9FF;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

footer{
    background-color:  #DCDCDC;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}