header{

    background-color: #A7E9FF;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

footer{
    background-color:  #DCDCDC;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.grid-container{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 500px 500px 500px;
    background-color: #2196F3;
    padding: 30px;
    justify-content: space-around;
}
.grid-element{
    background-color: lightgrey;
    border: 1px solid black;
    padding: 40px;
    font-size: 30px;
    text-align: center;
    border-radius: 25px;
}